<!--<h1>Welcome to My Blog Application</h1>-->
<h1>&nbsp;&nbsp;Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>                                
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "New Article", new_article_path %>